@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Infant', serif;
}

:root {
    --orange: #FF7300;
    --text-primary: #D9D9D9;
    --text-secondary: #9D9D9D;
    --bg: #010117;
    --bg-light: #00002d;
    --red: #FC49AB;
    --green: #64FF00;
    --blue: #5FE8FF;
    --yellow: #E7FF00;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: var(--bg);
}

.container {
    position: relative;
    width: 100%;
}

/*--- NAVIGATION ---*/

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--bg-light);
    border-left: 10px solid var(--bg-light);
    /*Important for the responsive view*/
    transition: 0.5s;
    /*TODO change if needed*/
    overflow: hidden;
}

.navigation.active {
    width: 80px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*padding-top: 50px; TODO check the new system */
}

.navigation ul li {
    position: relative;
    width: 100%;
    /*TODO was 200% before curves */
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
    background-color: var(--bg);
}

.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
    /* Important- this removes bg on hover if any*/
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--text-primary);
}

.navigation ul li:hover a,
/*TODO change to a:hover if needed*/
.navigation ul li.hovered a {
    color: var(--orange);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    /* Important for icon and text alignment*/
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.75em;
}

.navigation ul li a .title {
    font-size: 1.2em;
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 58px;
    text-align: start;
    white-space: nowrap;
}

/* outside curves of bg on hover */

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    /* change to some color to see the form*/
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--bg);
    /* change color to see where is the shadow */
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    /* change to some color to see the form*/
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--bg);
    /* change color to see where is the shadow */
    pointer-events: none;
}


/*--- MAIN ---*/

.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: transparent;
    /* TODO change this to --bg-light if needed */
    transition: 0.5s;
}

.main.active {
    width: calc(100% - 80px);
    left: 80px;
}

/* topbar */

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle {
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    color: var(--text-primary);
    /*TODO change this to --orange if needed */
    /*background: var(--text-primary);*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    background: var(--bg-light);
    padding: 5px 20px;
    padding-left: 35px;
    outline: none;
    border: 1px solid var(--bg-light);
    font-size: 1.2em;
    color: var(--text-primary);
}

.search label ion-icon {
    position: absolute;
    color: var(--orange);
    top: 0;
    left: 10px;
    font-size: 1.2em;
    cursor: pointer;
}

.user {
    /*TODO solve this bug */
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* cards */

.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    color: var(--text-primary);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.cardBox .card {
    position: relative;
    background: var(--bg-light);
    padding: 30px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    /* box-shadow: 0 7px 25px rgba(0,0,0,0.08);*/
    /*TODO check design system*/
}

.cardBox .card .numbers {
    position: relative;
    font-weight: 700;
    font-size: 2.5em;
}

.cardBox .card .cardName {
    color: var(--text-secondary);
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 5px;
}

.cardBox .card .iconBx {
    color: var(--orange);
    font-size: 3em;
    /* was 3.5 */
}

.cardBox .card .iconBx,
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName {
    transition: 0.5s;
}

.cardBox .card:hover .numbers {
    color: var(--text-secondary);
    font-size: 1.2em;
}

.cardBox .card:hover .cardName {
    /* TODO deal with shaking */
    color: var(--orange);
    font-size: 2.5em;
}

.cardBox .card:hover .iconBx {
    color: var(--text-primary);
}


/* details */
.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    /* margin-top: 10px;*/
}

.details .recentMovies {
    position: relative;
    color: var(--text-primary);
    background: var(--bg-light);
    border-radius: 16px;
    display: grid;
    min-height: 500px;
    padding: 20px;
    /*box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);*/
    /*TODO check design system*/
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2 {
    font-weight: 700;
    font-size: 1.8em;
}

.btn {
    position: relative;
    padding: 5px 10px;
    background: var(--orange);
    text-decoration: none;
    color: var(--text-primary);
    font-weight: 700;
    border-radius: 4px;
}

.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.details table thead td {
    font-size: 1.4em;
    font-weight: 700;
    color: var(--text-secondary);
}

.details .recentMovies table tr {
    color: var(--text-primary);
    border-bottom: 2px solid var(--bg);
}

.details .recentMovies table tr:last-child {
    border-bottom: none;
}

.details table thead td {
    border-bottom: 2px solid var(--orange);
}

.details .recentMovies table tbody tr:hover {
    background-color: var(--bg);
    color: var(--orange);
}

.details .recentMovies table tr td {
    /* TODO this not working!!! */
    margin-top: 20px;
    padding: 10px;
}

.details .recentMovies table tr td:last-child {
    text-align: end;
}

.details .recentMovies table tr td:nth-child(2) {
    text-align: end;
}

.details .recentMovies table tr td:nth-child(3) {
    text-align: center;
}

/* status */

.status.active {
    padding: 2px 4px;
    background: var(--green);
    color: var(--bg-light);
    border-radius: 4px;
    font-size: 1em;
    font-weight: 700;
}

.status.pending {
    padding: 2px 4px;
    background: var(--red);
    color: var(--text-primary);
    border-radius: 4px;
    font-size: 1em;
    font-weight: 700;
}

.status.inprogres {
    padding: 2px 4px;
    background: var(--yellow);
    color: var(--bg-light);
    border-radius: 4px;
    font-size: 1em;
    font-weight: 700;
}

/* users */
.recentUsers {
    position: relative;
    color: var(--text-primary);
    display: grid;
    min-height: 500px;
    padding: 20px;
    background: var(--bg-light);
    border-radius: 16px;
}

.recentUsers .imgBx {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

/* Not needed, but just in case: 
.recentUsers .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}*/

.recentUsers table tr td {
    padding: 3px 10px;
}

.recentUsers table tr td h4 {
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.2em;
}

.recentUsers table tr td h4 span {
    font-size: 14px;
    color: var(--text-secondary);
}

.recentUsers table tr:hover {
    background: var(--bg);
    color: var(--orange);
}


/*           --- RESPONSIVE ---           */

@media (max-width:991px) {

    .navigation {
        left: -300px;
    }

    .navigation.active {
        width: 300px;
        left: 0;
    }

    .main {
        width: 100%;
        left: 0;
    }

    .main.active {
        left: 300px;
    }

    .cardBox {
        grid-template-columns: repeat(2, 1fr);
    }

    .toggle{
        color: var(--orange);
        z-index: 10001;
    }

    .main.active .toggle{
        color: var(--text-primary);
    }
}

@media (max-width:768px) {
    .details {
        grid-template-columns: repeat(1, 1fr);
    }

    .recentMovies {
        overflow-x: auto;
    }

    .status.inprogres {
        white-space: nowrap;
        /*This removes break in status label*/
    }
    .recentUsers table tr td h4{
        margin-top: 20px;
    }

}

@media (max-width:488px) {
    .cardBox {
        grid-template-columns: repeat(1, 1fr);
    }

    .cardHeader h2 {
        font-size: 1.2em;
    }

    table thead {
        font-size: 14px;
    }

    .recentUsers table tr td h4{
        margin-top: 20px;
    }

    .user{
        min-width: 40px;
    }

    .navigation{
        width: 100%;
        left: -100%;
        z-index: 1000;
    }

    .navigation.active{
        width: 100%;
        left: 0;
    }

    .toggle{
        color: var(--orange);
        z-index: 10001;
    }

    .main.active .toggle{
      /*  position: fixed;
        right: 0;                 NOT WORKING
        left: initial;*/
        color: var(--text-primary);
    }
}